<h2>List of Authors</h2>
<table class="table">
    <thead>
        <tr>
            <th>
              Full Name
            </th>
            <th>
               Age
            </th>
           
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let author of authors"> 
            <td>{{ author.name}}</td>
            <td>{{ author.age}}</td>
            <td>
                <a href="#" (click)="editRecord(this)">Edit</a>
                <a href="#" (click)="deleteRecord(this)">Delete</a>
         </td>
        </tr>
        <!-- <tr>
            <td>
             John
            </td>
            <td>
                Mortin
            </td>
            <td>
                04-12-1997
            </td>
            <td>Courses</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr> -->
}
    </tbody>
</table>